<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="./app.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <div class="first-page">
            <div class="left-side">
                <div class="profile">
                    <div class="profile-photo">
                        <img src="./img/photo-profile.svg" alt="">
                    </div>
                    <div class="profile-description">
                        <div class="profile-name">
                            Mariya Zinovnik
                        </div>
                        <div class="profile-position">
                            JS developer
                        </div>
                    </div>
                </div>

                <ul class="course-menu">
                    <li>
                        <img src="./img/uil_schedule.svg" width="24px" height="24px" alt="">
                        <div class="item">Schedule</div>
                    </li>
                    <li>
                        <img src="./img/resources.svg" width="24px" height="24px" alt="">
                        <div class="item">Resources</div>
                    </li>
                    <li>
                        <img src="./img/notifications.svg" width="24px" height="24px" alt="">
                        <div class="item">Notifications</div>
                    </li>
                    <li>
                        <img src="./img/achievments.svg" width="24px" height="24px" alt="">
                        <div class="item">Achievments</div>
                    </li>
                    <div class="border"></div>
                </ul>

                <ul class="account-menu">
                    <li>
                        <img src="./img/account.svg" width="24px" height="24px" alt="">
                        <div class="item">Account</div>
                    </li>

                    <li>
                        <img src="./img/github.svg" width="24px" height="24px" alt="">
                        <div class="item">My GitHub</div>
                    </li>
                    <li>
                        <img src="./img/settings.svg" width="24px" height="24px" alt="">
                        <div class="item">Settings</div>
                    </li>
                </ul>

            </div>
            <div class="center">
                <div class="student-courses">
                    My Courses
                    <div class="course">
                        <div class="course-theme">
                            JavaScript Basics
                            <div class="teacher">
                                <div class="teacher-image">
                                    <img src="./img/rebecca.svg" width="24px" height="24px" alt="">
                                </div>
                                <div class="teacher-name">
                                    Rebecca Jungler
                                </div>
                            </div>
                        </div>

                        <div class="course-progress">
                            <div class="progress">75%</div>
                            <div class="progress-bar">
                                <div></div>
                            </div>
                        </div>


                    </div>
                </div>


            </div>
            <div class="right-side">
                <div class="right-top">
                    <div class="search-bar">
                        <input type="text" class="search" placeholder="Search">
                    </div>
                    <div class="account">
                        <img src="./img/header-account.svg" width="24px" height="24px" alt="">
                    </div>
                    <div class="settings">
                        <img src="./img/header-setting.svg" width="24px" height="24px" alt="">
                    </div>
                    
                </div>
                <div class="current-lessons">
                    <div class="title">Today practice</div>
                    <div class="lessons">
                        <div class="first-subject">
                            <div class="lesson">
                                Lesson #3
                                <div class="lesson-language">
                                    JavaScript
                                </div>
                            </div>
                            
                        </div>
                        <div class="second-subject">
                            <div class="lesson">
                                Lesson #3
                                <div class="lesson-language">
                                    Python
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lessons-schedule">
                    
                    <div class="schedule">
                        <div class="schedule-info">
                            <div class="title">Your Classes</div>
                            <div class="date">
                                <div class="current-date">
                                    Today, June 13
                                </div>
                                
                            </div>
                        </div>
                        <div class="calendar-logo">
                            <img src="./img/calendar-logo.svg" alt="">
                        </div>

                    </div>
                    <div class="graphic">
                        <div class="schedule-lesson">
                            <div class="lesson-title">
                                C# and Database
                            </div>
                            <div class="lesson-time">
                                12:00 - 14:00   
                            </div>
                            
                        </div>
                        <div class="schedule-times">
                            <div class="time">10:00</div>
                            <div class="time">12:00</div>
                            <div class="time">14:00</div>
                            <div class="time">16:00</div>
                            <div class="time">18:00</div>
                            <div class="time">20:00</div>
                        </div>
                        <div class="borders">
                            <div class="graphic-border"></div>
                            <div class="graphic-border"></div>
                            <div class="graphic-border"></div>
                            <div class="graphic-border"></div>
                            <div class="graphic-border"></div>
                            <div class="graphic-border"></div>
                            <div class="graphic-border"></div>
                            <div class="graphic-border"></div>
                            <div class="graphic-border"></div>
                            <div class="graphic-border"></div>
                            <div class="graphic-border"></div>
                        </div>
                    </div>
                    

                </div>

        
            </div>

            

        </div>
    </div>
</body>

</html>