@font-face {
  font-family: 'Mulish Bold';
  src: url(./fonts/Mulish/static/Mulish-Bold.ttf);
}

@font-face {
  font-family: 'Mulish Regular';
  src: url(./fonts/Mulish/static/Mulish-Regular.ttf);
}

@font-face {
  font-family: 'Mulish SemiBold';
  src: url(./fonts/Mulish/static/Mulish-SemiBold.ttf);
}

$main-page-color: #17161d;

.wrapper .first-page {
  width: 1920px;
  height: 1080px;
  display: flex;

  .left-side {
    width: 340px;
    height: 1080px;
    background: linear-gradient(#282333, #18171f);
    float: left;
    display: flex;
    flex-direction: column;

    .profile {
      width: 300px;
      height: 65px;
      display: flex;
      margin-top: 60px;
      margin-left: 40px;
      .profile-photo {
        width: 65px;
        height: 65px;
      }
      .profile-description {
        padding-top: 10px;
        padding-left: 30px;
        .profile-name {
          font-size: 18px;
          font-family: 'Mulish Bold';
          color: #ffffff;
        }
        .profile-position {
          font-size: 18px;
          font-family: 'Mulish Bold';
          color: #6a696e;
        }
      }
    }

    .course-menu {
      padding-top: 100px;
      padding-left: 40px;
      list-style: none;

      li {
        display: flex;

        padding-bottom: 50px;
        font-family: 'Mulish Bold';
        color: #ffffff;
        .item {
          padding-left: 30px;
          font-size: 18px;
        }
        width: 220px;
      }
      :nth-child(4) {
        margin-bottom: 20px;
        border-bottom: 1px solid #2d2a36;
      }
    }

    .account-menu {
      list-style: none;
      li {
        display: flex;

        padding-bottom: 50px;
        font-family: 'Mulish Bold';
        color: #ffffff;
        .item {
          padding-left: 30px;
          font-size: 18px;
        }
        width: 220px;
      }
    }
  }

  .center {
    width: 1040px;
    height: 1080px;
    background: $main-page-color;
    .student-courses {
      color: #ffffff;
      font-size: 28px;
      font-family: 'Mulish Bold';
      padding-top: 250px;
      padding-left: 50px;
      .course {
        width: 310px;
        height: 230px;
        background: #1e1d26;
        margin-top: 50px;
        border-radius: 20px;
        .course-theme {
          font-size: 24px;
          padding-top: 20px;
          padding-left: 30px;
          .teacher {
            padding-top: 10px;
            display: flex;
            width: 250px;
            .teacher-name {
              color: #56565c;
              font-size: 16px;
              padding-left: 10px;
              font-family: 'Mulish Regular';
            }
            border-bottom: 1px solid #2a292f;
          }
        }

        .course-progress {
          padding-top: 100px;

          display: flex;
          .progress {
            padding-left: 30px;
            padding-right: 10px;
            color: #45454a;
            font-size: 14px;
          }
          .progress-bar {
            background-color: #2a292f;
            margin-top: 8px;
            height: 3px;
            width: 210px;
            div {
              background-color: #8a2eff;
              width: 75%;
              height: 3px;
            }
          }
        }
      }
    }
  }

  .right-side {
    width: 540px;
    height: 1080px;
    background: linear-gradient(#211d29, #17161d);

    .right-top {
      width: 450px;
      margin-left: 40px;
      display: flex;
      padding-bottom: 20px;
      border-bottom: 1px solid #2a292f;

      .search-bar {
        background-color: #292630;
        width: 300px;
        height: 45px;
        margin-top: 30px;
        border-radius: 10px;

        .search {
          font-family: 'Mulish SemiBold';
          margin-left: 10px;
          margin-top: 10px;
          font-size: 15px;
          border: none;
          outline: none;
          background: url(./img/akar-icons_search.svg) no-repeat center left;
          padding-left: 30px;
          background-size: auto 100%;
        }
      }
      .account {
        padding-left: 100px;
        margin-top: 40px;
      }
      .settings {
        padding-left: 20px;
        margin-top: 40px;
      }
    }
    .current-lessons {
      margin-left: 40px;
      padding-top: 20px;

      .title {
        color: #ffffff;
        font-family: 'Mulish Bold';
        font-size: 28px;
      }
      .lessons {
        display: flex;
        margin-top: 20px;
        .first-subject {
          width: 220px;
          height: 170px;
          background: url(./img/javascriptTemplate.svg) no-repeat;

          .lesson {
            margin-top: 20px;

            color: #ffffff;
            font-size: 22px;
            font-family: 'Mulish Bold';
            padding-top: 10px;
            padding-left: 30px;
            .lesson-language {
              font-size: 18px;
              color: #6a696e;
            }
          }
        }

        .second-subject {
          margin-left: 20px;
          width: 220px;
          height: 170px;
          background: url(./img/pythonTemplate.svg) no-repeat;

          .lesson {
            margin-top: 20px;

            color: #ffffff;
            font-size: 22px;
            font-family: 'Mulish Bold';
            padding-top: 10px;
            padding-left: 30px;
            .lesson-language {
              font-size: 18px;
              color: #6a696e;
            }
          }
        }
      }
    }
    .lessons-schedule {
      .schedule {
        display: flex;
        padding-top: 80px;
        padding-left: 40px;
        .schedule-info {
          .title {
            color: #ffffff;
            font-size: 28px;
            font-family: 'Mulish Bold';
          }

          .date {
            .current-date {
              color: #45454a;
              font-size: 18px;
              font-family: 'Mulish Bold';
            }
          }
        }
        .calendar-logo {
          padding-top: 10px;
          padding-left: 260px;
          width: 32px;
          height: 32px;
        }
      }

      .graphic {
        display: flex;
        .borders {
          padding-left: 30px;
          padding-top: 20px;
          .graphic-border {
            padding-top: 20px;
            width: 390px;
            height: 10px;
            background-image: linear-gradient(
              to right,
              #45454a 33%,
              rgba(255, 255, 255, 0) 0%
            );
            background-position: bottom;
            background-size: 10px 1px;
            background-repeat: repeat-x;
          }
        }
        .schedule-times {
          padding-left: 40px;
          .time {
            font-family: 'Mulish Bold';
            font-size: 16px;
            color: #6a696e;
            padding-top: 40px;
          }
        }
        .schedule-lesson {
          background: url(./img/schedule-lesson-template.svg) no-repeat;
          position: absolute;
          margin-left: 150px;
          margin-top: 100px;
          width: 210px;
          height: 80px;

          .lesson-title {
            font-size: 20px;
            font-family: 'Mulish Bold';
            color: #ffffff;
            padding-top: 15px;
            padding-left: 22px;
          }
          .lesson-time {
            padding-left: 40px;
            padding-top: 6px;
            font-size: 12px;
            font-family: 'Mulish Bold';
            color: #45454a;
          }
        }
      }
    }
  }
}
